.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-image: url('../images/hero.svg');
    background-size: contain;
    background-repeat: no-repeat; */
  }

.landing__name {
  color: #FB8500;
}

.landing__content {
    text-align: center;
  }

.landing h2 {
    font-size: 4em;
  }

.landing h3 {
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 16px;
    color: #FB8500;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
  }

.btn:hover {
    border: transparent;
    background: #FB8500;
    color: #001d2c;
  }