.projects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 2rem;
}

.container__desktop {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}

.content__desktop {
  padding: 1rem;
  margin: auto 2rem auto 2rem;
  max-width: 50%;
}

.projects__container h4 {
  font-size: 2rem;
  border-bottom: 4px solid transparent;
  text-shadow: 0px 0px 12px rgba(251, 133, 0, 1);
  max-width: fit-content;
}

.projects__container h4:hover{
  border-bottom: 4px solid #FB8500;
}

/* check fix for flex-wrap responsiveness */
.img__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 2rem 0;
}

.tech__navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin-top: 2rem;
}

.tech__navbar p {
  color: #FB8500;
  font-weight: bold;
  text-shadow: 3px 0px 7px rgba(81,67,21,0.8), 
	  -3px 0px 7px rgba(81,67,21,0.8), 
	  0px 4px 7px rgba(81,67,21,0.8);
}

.tech__navbar p:hover {
  color: white;
}

.tech__navbar h3 {
  color: #FB8500;
  text-shadow: 3px 0px 7px rgba(81,67,21,0.8), 
	  -3px 0px 7px rgba(81,67,21,0.8), 
	  0px 4px 7px rgba(81,67,21,0.8);
}

.tech__navbar h3:hover {
  color: white;
}

.tech__stack {
  display: inline-block;
  padding: 5px;
  color: white;
  border: 1px solid #FB8500;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 0.8rem;
  font-weight: 500;
}

.mobile__link {
  margin-bottom: 2rem;
}

.title__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}