.projects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

/* .projects__container h1 {
  border-bottom: 4px solid #FB8500;
  text-align: center;
  margin: 10px;
  padding: 10px;
  width: 70%;
} */

.projects__container h2 {
  font-size: 3rem;
  color: #FB8500;
}

.projects__container p {
  font-size: 2rem;
  text-align: center;
}

.projects__container h4 {
  font-size: 2rem;
}

.projects__container h4:hover{
  border-bottom: 4px solid #FB8500;
}

/* check fix for flex-wrap responsiveness */
.img__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem;
  gap: 1rem;
}